<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DACircularProgress.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>IDMPhotoBrowser.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>pop.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A956797FFEB44AB5AA2F943CA9D1ADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A77B7D3312CAB7A4789C3422C252528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47C800E42623009B7192B025B3DD25A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C22E295DA03280AE7A2FE5D83E96636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F245482BA8E77AA2ED68B1D3C2D52D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81820452EFBEF3C46A1C4F933050FB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
